/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";

body{
    background-image: url("./app/products/bg-image/background-image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

html{
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
