<section class="vh-100 gradient-custom">
  <form [formGroup]="loginForm" (submit)="login()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <img src="https://www.kindpng.com/picc/m/617-6175517_shop-smart-e-commerce-illustration-png-transparent-png.png" alt="">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase" style="color:#91E2F7 ;">Customer Login Page</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="text" formControlName="userName" id="userName" name="userName" class="form-control form-control-lg" placeholder="Username" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" formControlName="password" id="password" name="password" class="form-control form-control-lg"  placeholder="Password"/>
                </div>
  
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit" style="color:#91E2F7 ;">Login</button>
  
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a routerLink="/signup" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    
  </section>