<section class="vh-100 gradient-custom">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase" style="margin-bottom: 30px !important;">Admin Login Panel</h2>

                <div class="form-outline form-white mb-4">
                  <input formControlName="userName" type="text" id="userName" name="userName"
                    class="form-control form-control-lg" placeholder="Username" />
                </div>

                <div class="form-outline form-white mb-4">
                  <input formControlName="password" type="password" id="password" name="password"
                    class="form-control form-control-lg" placeholder="Password" />
                </div>

                <hr>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                <!-- <div style="margin:5px 0px">
                  <p class="mb-0">Don't have an account? <a routerLink="/signup" class="text-white-50 fw-bold">Sign Up</a>
                  </p>
                </div> -->
                <div style="margin: 10px 0px">
                  <p class="mb-0">Are you a customer? <a routerLink="/clogin" class="text-white-50 fw-bold">Go to login panel for customer</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</section>