<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Your Orders</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between row" *ngFor="let order of order" style="width:100% !important;">
                                    <div class="cart_item_image"><img src="https://i.pinimg.com/originals/e0/8b/14/e08b1415885d4d2ddd7fd3f75967da29.png" alt=""></div>
                                    <div class="cart_item_name cart_info_col col">
                                        <div class="cart_item_title">Products Content</div>
                                        <div class="cart_item_text" *ngFor="let orderName of order.order">{{orderName.name}}</div>
                                    </div>
                                    <div class="cart_item_quantity cart_info_col col">
                                        <div class="cart_item_title">Number of Product</div>
                                        <div class="cart_item_text" >{{order.order.length}}</div>
                                    </div>
                                    <div class="cart_item_price cart_info_col col">
                                        <div class="cart_item_title">Paid</div>
                                        <div class="cart_item_text">{{order.grandTotal}}$</div>
                                    </div>
                                    <div class="cart_item_total cart_info_col col">
                                        <div class="cart_item_title">Date</div>
                                        <div class="cart_item_text">{{order.date}}</div>
                                    </div>
                                    <hr>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Total Paid:</div>
                            <div class="order_total_amount">{{totalGrand}}$</div>
                        </div>
                    </div>
                    <div class="cart_buttons"> 
                        <button type="button" class="button cart_button_checkout" routerLink="/products">Exit</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>